
@{
    ViewData["Title"] = "PurchaseEntry";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style type="text/css" media="print">
    @@page {
        size: auto; /* auto is the initial value */
        margin: 2mm 4mm 0mm 0mm; /* this affects the margin in the printer settings */
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }
</style>
<style>
    input[type=text]:focus {
        background-color: #808080;
        color: white;
    }

    input[type=number]:focus {
        background-color: #808080;
        color: white;
    }
</style>
@section HeadingText {
    <div class="page-title-heading text-dark text-center">
        .:: ক্রয় এন্ট্রি ::.
    </div>

}
<script src="~/js/views/purchase/purchaseentry.js"></script>

<div class="row flex-sm-row">
    <div class="col-md-12">

        <div class="main-card mb-3 card" style=" margin-bottom: 0em !important;">
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <label for="inputEmail3" class="col-sm-1 col-form-label">বিল নম্বর:</label>
                        <div class="col-sm-2">
                            <input type="text" class="mb-2 form-control-sm form-control" id="txtBIllNo">
                        </div>
                        <div class="col-sm-1">
                            <input type="button" value="Edit" class="btn btn-danger btn-block" id="btnEdit" />
                        </div>
                        <div class="col-sm-1">
                            <input type="button" value="View"  data-toggle="modal" data-target="#modalInvoice" class="btn btn-dark btn-block" id="btnView" />
                          
                        </div>
                        <div class="col-sm-1">
                            <input type="button" value="< Prev" class="btn btn-secondary " id="btnPrev" />
                        </div>
                        <div class="col-sm-1">
                            <input type="button" value="Next >" class="btn btn-secondary" id="btnNext" />
                        </div>
                        <div class="col-sm-1">
                            <input type="button" value="Add New" class="btn btn-danger btn-block" id="btnAddNewCust" />
                        </div>
                          
                            <label for="inputEmail3" class="col-sm-1 col-form-label">এন্ট্রি তারিখ:</label>
                            <div class="col-sm-2">
                                <input type="text" disabled class="mb-1 form-control-sm form-control" data-date-format="dd-mm-yyyy" id="txtDateEntry">
                            </div>
                            @*<label for="inputPassword3" class="col-sm-1 col-form-label">Sub Cate</label>
            <div class="col-sm-2">
                <input type="text" data-tab="2" class="form-control-sm form-control" id="txtSubCategory" placeholder="" list="dltxtSubCategory">
                <datalist id="dltxtSubCategory">
                </datalist>
            </div>*@




                        </div>

                        <div class="form-row">

                            <label for="inputEmail3" class="col-sm-1 col-form-label">তারিখ:</label>
                            <div class="col-sm-2">
                                <input data-tab="2" type="text" class="mb-1 form-control-sm form-control" data-date-format="dd-mm-yyyy" id="txtDate">
                            </div>

                            <label for="inputPassword3" class="col-sm-1 col-form-label">Category</label>
                            <div class="col-sm-2">
                                <input type="text" data-tab="3" class="form-control-sm form-control" id="txtCategory" placeholder="" list="dltxtCategory">
                                <datalist id="dltxtCategory">
                                </datalist>
                            </div>






                            <label for="inputEmail3" class="col-sm-2 col-form-label"> বিক্রেতার নাম:</label>
                            <div class="col-sm-4">
                                <input data-tab="4" type="text" autocomplete="off" class="form-control-sm form-control" id="txtSupplierName" list="dltxtSupplierName" />
                                <datalist id="dltxtSupplierName"></datalist>
                            </div>


                        </div>


                        <div class="form-row">

                            <div class="col-md-2">

                                <label for="exampleCity">পণ্যের নাম</label>
                                <input data-tab="5" autocomplete="off" name="city" id="txtProName" type="text" class="form-control-sm form-control" list="dltxtProName" />
                                <datalist id="dltxtProName"></datalist>

                            </div>
                            <div class="col-md-2">

                                <label for="exampleCity">আর্টিকেল</label>
                                <input data-tab="6" autocomplete="off" name="city" id="txtArcticle" type="text" class="form-control-sm form-control" list="dltxtArcticle" />
                                <datalist id="dltxtArcticle"></datalist>
                            </div>

                            <div class="col-md-2">

                                <label for="exampleCity">সাইজ</label>
                                <input autocomplete="off" name="city" id="txtSize" disabled type="text" class="form-control-sm form-control" list="dltxtSize" />
                                <datalist id="dltxtSize"></datalist>
                            </div>

                            <div class="col-md-2">

                                <label for="exampleCity">জোড়া/ডজন</label>
                                <input autocomplete="off" disabled name="city" id="txtUOM" type="text" class="form-control-sm form-control" list="dltxtUOM" />
                                <datalist id="dltxtUOM"></datalist>
                            </div>
                            <div class="col-md-2">
                                <label for="exampleCity">Currrent Tock</label>
                                <input disabled autocomplete="off" name="city" id="txtCurrentStock" type="text" class="form-control-sm form-control" />
                            </div>
                            <div class="col-md-2">
                                <label for="exampleCity">Sell price</label>
                                <input disabled autocomplete="off" name="city" id="txtSellPrice" type="text" class="form-control-sm form-control" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-2">

                                <label for="exampleCity">জোড়া</label>
                                <input data-tab="7" min="0" autocomplete="off" name="city" id="txtPair" type="text" class="form-control-sm form-control" />
                            </div>
                            <div class="col-md-1">

                                <label for="exampleCity">ডজন</label>
                                <input disabled min="0" autocomplete="off" name="city" id="txtDozen" type="text" class="form-control-sm form-control" />
                            </div>
                            <div class="col-md-2">

                                <label for="exampleCity">কমিঃ</label>
                                <input data-tab="8" min="0" autocomplete="off" name="city" id="txtComm" type="text" class="form-control-sm form-control" />
                            </div>
                            <div class="col-md-2">

                                <label for="exampleCity">ক্রয় মূল্য</label>
                                <input data-tab="9" min="0" autocomplete="off" name="city" id="txtBuyPrice" type="text" class="form-control-sm form-control" />
                            </div>
                            <div class="col-md-2">

                                <label for="exampleCity">মোট ক্রয় মূল্য</label>
                                <input min="0" autocomplete="off" name="city" disabled id="txtTotalBuyPrice" type="text" class="form-control-sm form-control" />
                            </div>
                            <div class="col-md-2">

                                <label for="exampleCity">মোট কমিঃ</label>
                                <input min="0" autocomplete="off" name="city" disabled id="txtTotalComm" type="text" class="form-control-sm form-control" />
                            </div>

                            <div class="col-md-1">

                                <label for="exampleCity"></label>
                                <br />
                                <input type="button" data-tab="10" data-purchaseheadid="0" data-purchasedetailsid="0" data-companyProductID="0" data-slno="0" value="Add" class="btn btn-success" id="btnAdd" />

                            </div>

                            <div class="col-sm-2">
                                <label for="exampleCity"></label>
                                <br />

                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <span id="spInfo">

                                </span>
                            </div>
                        </div>
</form>
            </div>

        </div>

    </div>


</div>

<div class="row flex-sm-row">
    <div class="col-md-12" style="padding-top:0em; padding-bottom:0em;">

        <div class="main-card mb-3 card" style=" margin-bottom: 0em !important;">
            <div class="card-body">


                <table id="tblProdItem" class="table table-sm table-bordered" style="margin-bottom:0 !important ">
                    <thead>
                        <tr>
                            <th style="display:none">CommProductID</th>
                            <th>সি নং</th>
                            <th>পণ্যের নাম</th>
                            <th>আর্টিকেল</th>

                            <th>সাইজ</th>
                            <th>Stock</th>
                            <th>জোড়া/ডজন</th>
                            <th>ডজন</th>
                            <th>জোড়া</th>
                            <th>ক্রয় মূল্য</th>
                            <th> কমিঃ</th>

                            <th>মোট ক্রয় মূল্য</th>
                            <th>কোঃ কমিঃ</th>

                            <th>

                            </th>
                            <th>


                            </th>
                        </tr>




                    </thead>
                </table>


                <table class="table table-sm table-info">

                    <tr>
                        <td>Total Dozen:</td>
                        <td> <input type="number" disabled autocomplete="off" class="form-control-sm form-control" id="txtTotalDozen" /></td>
                        <td></td>
                        <td></td>
                        <td> Total Amount</td>

                        <td> <input type="number" disabled autocomplete="off" class="form-control-sm form-control" id="txtTotalAmount" /></td>
                        <td> Previous Due:</td>

                        <td> <input type="number" disabled autocomplete="off" class="form-control-sm form-control" id="txtPrevDue" /></td>

                    </tr>


                    <tr>
                        <td>Total Pair:</td>
                        <td> <input type="number" disabled autocomplete="off" class="form-control-sm form-control" id="txtTotalpair" /></td>

                        <td> Total Commission</td>

                        <td> <input type="number" disabled autocomplete="off" class="form-control-sm form-control" id="txtTotalComm2" /></td>
                        <td> Neat Amount</td>
                        <td> <input type="number" disabled autocomplete="off" class="form-control-sm form-control" id="txtNeatAmount" /></td>
                        <td> Total Due:</td>

                        <td> <input type="number" disabled autocomplete="off" class="form-control-sm form-control" id="txtPrevDue" /></td>
                    </tr>

                    <tr>
                        <td>Note</td>
                        <td colspan="3"> <input class="form-control-sm form-control" type="text" id="txtNote1" /> </td>
                        <td>   Supplier Bill No     </td>
                        <td>    <input type="text"  autocomplete="off" class="form-control-sm form-control" id="txtSuppBilNo" />    </td>
                        <td>
                            <input type="button" data-purchaseheadid="0" data-purchasedetailsid="0" value="Save" class="btn  btn-info btn-block" id="btnSaveCust" />

                        </td>

                        <td>  </td>

                    </tr>
                </table>

            </div>

        </div>

    </div>


</div>

<div id="modalInvoice" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <input type="button" class="btn btn-outline-primary" value="Create PDF"
                       id="btPrint" onclick="createPDF()" />
            </div>
            <div class="modal-body" id="tab">
                <style>


                    .tblClass {
                        font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
                        width: 100%;
                        font-size: 0.8em;
                        font-weight: normal;
                    }

                    .headerAllBorder {
                        border-right: 1px solid black;
                        border-left: 1px solid black;
                        border-top: 1px solid black;
                        font-size: 0.8em;
                        text-align: center;
                    }

                    .TDRightLeftBorder {
                        border-right: 1px solid black;
                        border-left: 1px solid black;
                        text-align: center;
                        font-size: 0.8em;
                    }

                    .TDAllBorder {
                        border-right: 1px solid black;
                        border-left: 1px solid black;
                        border-bottom: 1px solid black;
                        text-align: center;
                        font-size: 0.8em;
                    }

                    .headerRightBorder {
                        border-right: 1px solid black;
                        border-top: 1px solid black;
                        border-bottom: 1px solid black;
                        text-align: center;
                        font-size: 0.8em;
                    }

                    .TDRightBorder {
                        border-right: 1px solid black;
                        border-bottom: 1px solid black;
                        text-align: center;
                        font-size: 0.8em;
                    }
                </style>

                <table class="tblClass" id="tblOrderBill">
                    <thead>
                        <tr><td colspan="12" class="headerAllBorder" style="text-align:center;  font-size:16px; font-weight:bold;">PURCHASE INVOICE</td></tr>
                        <tr><td colspan="12" class="TDRightLeftBorder" style="text-align:center;  font-size:10px;font-weight:bold;"><span id="spHeaderBill"></span></td></tr>
                        <tr><td colspan="12" class="TDRightLeftBorder" style="text-align:center;  font-size:12px;"><span id="spAddressBill"></span></td></tr>
                        <tr><td colspan="12" class="TDRightLeftBorder" style="text-align:center;  font-size:12px;"><strong><span id="spAddressMobile"></span></strong></td></tr>
                        <tr>
                            <td colspan="2" style="text-align:left;  font-size:10px;  border-left: 1px solid black; font-weight:bold; padding:3px;">Invoice No :</td>
                            <td colspan="2" style="text-align:left;  font-size:10px;"><span id="spOrderNoBill"></span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          
                            <td colspan="2" style="text-align:right;  font-size:10px;font-weight:bold; padding:3px;">Date :</td>
                            <td colspan="2" style="text-align:right;  font-size:10px;border-right: 1px solid black;"><span id="spDateBill"></span></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:left;  font-size:10px;  border-left: 1px solid black;font-weight:bold; padding:3px;">Supplier Name :</td>
                            <td colspan="6" style="text-align:left;  font-size:10px; "><span id="spPartyBill"></span> </td>

                            <td colspan="2" style="        text-align: right;
        font-size: 10px;
        font-weight: bold;
        padding: 3px;">Supplier Bill No :</td>
                            <td colspan="2" style="text-align:right;  font-size:10px; border-right: 1px solid black;"><span id="spSuppBillNo"></span></td>



                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:left;  font-size:10px;  border-left: 1px solid black;font-weight:bold; padding:3px;">Contact Person :</td>
                            <td colspan="10" style="text-align:left;  font-size:10px; border-right: 1px solid black;"><span id="spContactPerson"></span></td>

                        </tr>
                        <tr>
                            <td colspan="2" style="        text-align: left;
        font-size: 10px;
        border-left: 1px solid black;
        font-weight: bold;
        padding: 3px;
        border-bottom: 1px solid black;"> Address :</td>
                            <td colspan="10" style="        text-align: left;
        font-size: 10px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;"><span id="spPartyshopAddressBill"></span></td>

                        </tr>
                    
                    </thead>
                    <tr>
                        <td class="TDAllBorder" style="width:5%">
                            সি নং
                        </td>
                        <td class="TDRightBorder" style="width:10%">পণ্যের নাম</td>
                        <td class="TDRightBorder" style="width:10%">
                            আর্টিকেল
                        </td>
                        <td class="TDRightBorder" style="width:10%">সাইজ</td>
                        <td class="TDRightBorder" style="width:10%">জোড়া/ডজন</td>
                        <td class="TDRightBorder" style="width:6%">ডজন</td>
                        <td class="TDRightBorder" style="width:6%">জোড়া</td>
                        <td class="TDRightBorder" style="width:7%">ক্রয় মূল্য</td>
                        <td class="TDRightBorder" style="width:7%">কমিঃ</td>
                        <td class="TDRightBorder" style="width:10%"> মোট ক্রয় মূল্য</td>
                        <td class="TDRightBorder" style="width:10%"> মোট কমিঃ</td>
                        <td class="TDRightBorder" style="width:10%">	নীট  ক্রয় মূল্য</td>
                    </tr>


                </table>
            </div>

        </div>
    </div>
</div>
