@font-face {
    font-family: 'lato';
    src: url(fonts/Lato/Lato-Light.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Light.ttf);
}


.main-navbar {
    font-family: lato;
    background-color: #086082;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

    .main-navbar > ul > li {
        display: inline-block;
        border-left: 1px solid #ddd;
        padding: 0 15px;
        vertical-align: middle;
    }

.header-top {
    font-family: lato;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #ddd;
    color: #111;
    font-weight: bold;
    font-size: 14px;
}

.top-letest-product-section {
    font-family: lato;
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}

    .top-letest-product-section .section-title {
        margin-bottom: 20px;
    }