
@{
    ViewData["Title"] = "CustomerBalanceLimitEntry";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section HeadingText {
    <div class="page-title-heading">
         Customer Balance Limit Entry
        <div class="page-title-subheading">

        </div>
    </div>

}



<style>
    input[type=text]:focus {
        background-color: #282727;
        color: white;
    }

    input[type=number]:focus {
        background-color: #282727;
        color: white;
    }
</style>

<div class="row">
    <div class="col-md-10">
        <div class="main-card mb-3 card">
            <div class="card-body">
              

                <form>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Customer Code :</label>
                        <div class="col-sm-6">
                            <input type="text" disabled class="form-control" id="txtCustCode1">
                        </div>

                        <div class="col-sm-4">
                            <input type="text" disabled class="form-control" id="txtCustCode2">
                        </div>
                    </div>


          

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Shop Name</label>
                        <div class="col-sm-10">
                            <input data-tab="3" type="text" class="form-control" id="txtShopName" placeholder="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Customer Name</label>
                        <div class="col-sm-10">
                            <input data-tab="4" type="text" class="form-control" id="txtCustName" placeholder="">
                        </div>
                    </div>
                 


                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <input data-tab="6" type="text" class="form-control" id="txtAddress">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Limit Balance </label>
                        <div class="col-sm-4">
                            <input data-tab="7" type="text" class="form-control" id="txtMaxBalLimit">
                        </div>
                     
                        <div class="col-sm-3">
                            <input type="button" data-tab="12" data-custid="0" value="Save" class="btn btn-block btn-info" id="btnSaveCust" />
                        </div>
                            <div class="col-sm-3">
                                <input type="button" value="Add New" class="btn btn-block btn-danger" id="btnAddNewCust" />

                            </div>
                        </div>
                
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <span id="spInfo">

                            </span>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2">
    

    </div>
</div>

<div class="row" id="showDiv">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table style="width: 100%;" id="dataTable" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>



                            <th>ID</th>
                            <th>Cust No</th>

                            <th>Name</th>
                            <th>Shop</th>
                            <th>Op Balance</th>
                            <th>District</th>

                            <th>MobileNo</th>

                            <th>Bal Limit</th>
                            <th></th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>




<div class="app-drawer-overlay d-none animated fadeIn"></div>



<div id="modalCategory" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Category</h5>
                <button type="button" class="close reset" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="signupForm" class="col-md-12 mx-auto">
                    <input name="partyCode" id="partyCode" type="hidden" class="form-control">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label for="customerName">Category Name</label>
                                <input name="CategoryName" id="txtCatNameEdit" placeholder="Category Name" type="text" class="form-control">
                                <em id="concernNameBengali-error" class="error invalid-feedback">Please enter name</em>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-6">

                            <span id="spInfo2">

                            </span>

                        </div>
                        <div class="col-md-6">
                            <input data-catId="0" type="button" id="btnSaveCat" class="btn btn-success" value="Save" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <table style="width: 100%;" id="tblCat" class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>





                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalCloseCat" class="btn btn-outline-secondary reset" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>



<div id="modalDistrict" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add District</h5>
                <button type="button" class="close reset" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="signupForm" class="col-md-12 mx-auto">
                    <input name="partyCode" id="partyCode" type="hidden" class="form-control">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label for="customerName">District Name</label>
                                <input name="Dsitrict Name" id="txtDistrictNameEdit" type="text" class="form-control">
                                <em id="concernNameBengali-error" class="error invalid-feedback">Please enter name</em>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-6">

                            <span id="spInfo4">

                            </span>

                        </div>
                        <div class="col-md-6">
                            <input type="button" data-districtid="0" id="btnSaveDistrict" class="btn btn-success" value="Save" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <table style="width: 100%;" id="tblDistrict" class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>





                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalCloseCat" class="btn btn-outline-secondary reset" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>



<div id="modalSubCategory" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Sub Category</h5>
                <button type="button" class="close reset" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="signupForm" class="col-md-12 mx-auto">
                    <input name="partyCode" id="partyCode" type="hidden" class="form-control">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="customerName">Category Name</label>
                                <input name="CategoryName" id="txtCatNameEditSub" placeholder="Category Name" type="text" class="form-control" list="dltxtCategory">
                                <em id="concernNameBengali-error" class="error invalid-feedback">Please enter name</em>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="customerName">Sub Category Name</label>
                                <input name="CategoryName" id="txtSubCatNameEditSub" placeholder="Sub Category Name" type="text" class="form-control">
                                <em id="concernNameBengali-error" class="error invalid-feedback">Please enter name</em>
                            </div>
                        </div>

                    </div>


                    <div class="form-row">
                        <div class="col-md-6">
                            <span id="spInfo3">

                            </span>
                        </div>
                        <div class="col-md-6">

                            <input data-subcatId="0" type="button" id="btnSaveSubCat" class="btn btn-success" value="Save" />
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="col-md-12">
                            <table style="width: 100%;" id="tblSubCat" class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Category</th>
                                        <th>Sub Category</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>





                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalCloseSubCat" class="btn btn-outline-secondary reset" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var CUST_LIST = [];
    var CUST_CAT = [];
    var SUB_CUST_CAT = [];
    var tableCust;
    $(document).ready(function () {

        // alert('ghgh');

        LoadDefaultData();


        tableCust = $('#dataTable').DataTable({
            data: [],
            "columnDefs": [

                {
                    "searchable": true,
                    "orderable": false,
                    "targets": 0
                }
            ],
            "language":
            {
                "processing": '<div class="font-icon-wrapper float-left mr-3 mb-3" style="margin-left: 9%;">' +
                    '<div class="loader-wrapper d-flex justify-content-center align-items-center">' +
                    '<div class="loader">' +
                    '<div class="line-scale-pulse-out-rapid">' +
                    '<div></div>' +
                    '<div></div>' +
                    '<div></div>' +
                    '<div></div>' +
                    '<div></div>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<p>Loading</p></div>'
            },
            //"responsive": true,
            //"processing": true,
            //"serverSide": true,
            "lengthMenu": [
                [10, 15, 25, 50, 100, -1],
                [10, 15, 25, 50, 100, "All"]
            ],

            "order": [1, "asc"],
            "start": 0,
            "length": 10,
            "bFilter": true,


                 

            "columns": [
                { "data": "customerID" },
                { "data": "customerNo" },
                
                { "data": "name" },
                { "data": "shopName" },
                { "data": "openingBalance" },
                { "data": "district.name" },
                { "data": "mobileNo" },
                { "data": "maxBalanceLimit" },

                {
                    "data": null,
                    "mRender": function (data, type, full) {
                        return '<button class="mb-2 mr-2 btn-icon btn-shadow btn-dashed btn btn-outline-info" onclick="editCustomer(\'' + data.customerID + '\')">Edit Limit</button>';
                    }
                }
                
            ]
        });



        $("input").on('keypress', function (event) {

            // alert('ok');
            var _currentTab = $(this).attr("data-tab");
            var _id = $(this).attr("id");

            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                if (_currentTab != undefined) {
                    if (_id !== 'btnSaveCust') {
                        var _nextTab = parseInt(_currentTab) + 1;
                        $('input[data-tab="' + _nextTab + '"]').focus();
                    }
                }
            }


        });




        function LoadDefaultData() {
            ClearControl();
            $("#spInfo").html('<strong style="color:blue">Loading Data Please wait.. !</strong>');
            $.ajax({
                type: "POST",
                url: WEB_URL + "Customer/CustomerEntryViewModel",

                // data: JSON.stringify(receiveMain),
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    // HideGateOverlay();
                    $("#spInfo").html('');
                    console.log(data);
                    //RECEIVE = data;
                    //BindProduct(data);
                    //$("#spInfo").html('');
                   // CUST_CAT = data.customerCategorys;
                    CUST_LIST = data.customers;
                   // SUB_CUST_CAT = data.customerSubCategorys;
                   // LoadCustCategoryName(data.customerCategorys);
                   // BinCategoryTable(data.customerCategorys);
                   // BindDistrictName(data.districtS);
                   // BinSubCategoryTable(data.customerSubCategorys);
                    tableCust.rows.add(data.customers).draw();

                },
                error: function (a, b, c) {
                    //  HideGateOverlay();
                    alert(a, c);
                }
            });
        }
      
   

        $("#btnSaveCust").on('click', function () {

            $("input").each(function () {
                $(this).removeClass("input-validation-error");
            });
            $("#spInfo").html('');


            var _custId = $("#btnSaveCust").attr('data-custid');

            var _opPcs = $("#txtMaxBalLimit").val();


            if (_custId == '' || _custId=='0') {
                $("#txtCustName").addClass("input-validation-error");
                $("#spInfo").html('<strong style="color:red">Invalid Customer  !</strong>');
                return;
            }
        

            if (_opPcs == '') {
                $("#txtMaxBalLimit").addClass("input-validation-error");
                $("#spInfo").html('<strong style="color:red">Invalid Balance Limit !</strong>');
                return;
            }


            if (_opPcs == '') {
                _opPcs = '0';
            }


            $("#spInfo").html('<strong>Please wait ....</strong>');
            var customer = {
                "CustomerID": _custId,
                "MaxBalanceLimit": _opPcs
         

            }
            $.ajax({
                type: "POST",
                url: WEB_URL + "Customer/UpdateCustomerLimit",

                data: JSON.stringify(customer),
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    // HideGateOverlay();

                    console.log(data);

                    if (parseInt(data.resultID) == -1) {
                        $("#spInfo").html('<strong style="color:red">' + data.resultMessage + '</strong>');

                    }
                    else {
                        ClearControl();
                        $("#spInfo").html('<strong style="color:green">' + data.resultMessage + '</strong>');
                        CUST_LIST = data.obj;
                        // tableCust.fnClearTable();
                        tableCust.clear().draw();
                        tableCust.rows.add(data.obj).draw();

                    }




                },
                error: function (a, b, c) {
                    //  HideGateOverlay();
                    alert(a, c);
                }
            });



        });



     

        $("#btnAddNewCust").on('click', function () {
            ClearControl();
        });

      
        /////////////-------------

        function GetDataValue(value, dataList) {
            var z = $(dataList);
            var val = $(z).find('option[data-id="' + value + '"]');
            var endval = val.attr('value');
            return endval;
        }
        function GetDataID(value, dataList) {
            var z = $(dataList);
            var val = $(z).find('option[value="' + value + '"]');
            var endval = val.attr('data-id');
            return endval;
        }





    });

    function editCustomer(id) {
        ClearControl();
        var customer = {
            "CustomerID": id
        }


        $("#spInfo").html('<strong style="color:blue">Loading Data Please wait.. !</strong>');
        $.ajax({
            type: "POST",
            url: WEB_URL + "Customer/GetCustomer",

            data: JSON.stringify(customer),
            dataType: "JSON",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                console.log(data);
                $("#btnSaveCust").val('Update');
                $("#btnSaveCust").attr('data-custid', data.customerID);
                $("#txtCustCode1").val(data.customerNo);
                $("#txtCustName").val(data.name);
                $("#txtShopName").val(data.shopName);
                $("#txtMobile1").val(data.mobileNo);
                $("#txtMobile2").val(data.mobileNo2);
                $("#txtAddress").val(data.address1);
                $("#txtMaxBalLimit").val(data.maxBalanceLimit);



                $("#spInfo").html('');





    


            },
            error: function (a, b, c) {
                //  HideGateOverlay();
                alert(a, c);
            }
        });



    }




    function ClearControl() {
        $("#btnSaveCust").val('Save');
        $("#txtCategory").val('');
        $("#txtSubCategory").val('');

        $("#txtShopName").val('');

        $("#txtCustName").val('');

        $("#txtDistrict").val('');
        $("#txtDistrictNameEdit").val('');

        $("#txtAddress").val('');

        $("#txtMobile1").val('');

        $("#txtMobile2").val('');

        $("#txtCatNameEdit").val('');
        $("#txtCatNameEditSub").val('');

        $("#txtSubCatNameEditSub").val('');

        $("#txtOpBalance").val('0');

        $("#txtMaxBalLimit").val('0');
       
        $("#btnSaveCust").attr('data-custid', '0');
 

 




    }

</script>

