
@{
    ViewData["Title"] = "AdjustEntry";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section HeadingText {
    <div class="page-title-heading">
        ..::   এডজাস্ট এন্ট্রি   ::..
        <div class="page-title-subheading">

        </div>
    </div>

}


<div class="row flex-sm-row">
    <div class="col-md-1">
        <label for="inputEmail3" class="col-form-label">তারিখ :</label>

    </div>

    <div class="col-md-2">
        <input type="text" disabled class="form-control-sm form-control" data-date-format="dd-mm-yyyy" id="txtDateEntrySearch">
    </div>
    <div class="col-md-2">
        <label for="inputEmail3" class="col-form-label">গ্রহনকারীর :</label>
    </div>
    <div class="col-md-2">
        <input type="text" disabled class="form-control-sm form-control" id="txtCategorySearch" list="dltxtCategory" />
    </div>
    <div class="col-md-2">
        <input type="text" disabled class="form-control-sm form-control" id="txtSubCategorySearch" list="dltxtSubCategory" />
    </div>
    <div class="col-md-2">
        <input type="text" disabled class="form-control-sm form-control" id="txtCustomerSearch" list="dltxtCustName" />
    </div>
    <div class="col-md-1">
        <button class="btn btn-dark" id="btnSearch"><i class="fa fa-search"></i></button>
    </div>
</div>



<div class="row">
    <div class="col-md-10">
        <div class="main-card mb-3 card">
            <div class="card-body">

                <form style="padding:5px;">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">ইনভয়েস নং  :</label>
                        <div class="col-sm-3">
                            <input type="text" disabled class="form-control" id="txtInvoiceNo">
                        </div>

                        <div class="col-sm-2">
                            <input type="text" disabled class="form-control" id="txtInvoiceNoSL">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">তারিখ :</label>
                        <div class="col-sm-3">
                            <input type="text" autocomplete="off" data-date-format="dd-mm-yyyy" class="form-control" id="txtDate" placeholder="">

                        </div>

                        <div class="col-sm-3">
                            <input type="text" disabled class="form-control" autocomplete="off" id="txtDateTime" placeholder="">

                        </div>

                    </div>



                    <div class="form-group row">

                        <label for="inputEmail3" class="col-sm-2 col-form-label">গ্রহনকারীর/প্রদানকারী:</label>
                        <div class="col-sm-3">
                            <select class="form-control-sm form-control" id="selCustSuppType">
                                <option value="">-</option>
                                <option value="Supplier">Supplier</option>
                                <option value="Customer">Customer</option>
                            </select>
                        </div>



                        <label for="inputEmail3" class="col-sm-2 col-form-label">
                            ক্যাটাগরি:
                        </label>
                        <div class="col-sm-3">
                            <input type="text" autocomplete="off" class="form-control" id="txtCustSuppSubCat" list="dltxtCustSuppSubCat" />
                            <datalist id="dltxtCustSuppSubCat"></datalist>
                        </div>


                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">গ্রহনকারীর নাম :</label>
                        <div class="col-sm-10">
                            <input type="text" autocomplete="off" class="form-control" id="txtCustomer" list="dltxtCustName" />
                            <datalist id="dltxtCustName"></datalist>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">পূর্বের বাকী :</label>
                        <div class="col-sm-4">
                            <input type="number" disabled class="form-control" id="txtPrevDue">
                        </div>

                    </div>
            
                    <div class="form-row">
                        <div class="col-md-2">-</div>
                        <div class="col-md-3">

                            <label for="exampleCity">টাকা (এডজাস্ট):</label>
                            <input type="text" class="form-control" id="txtAmount">

                        </div>

                        <div class="col-md-3">

                            <label for="exampleCity">টাকা(ক্লোসিং শর্ট ) :</label>
                            <input type="text" class="form-control" id="txtCLosingShortAmount">

                        </div>

                        <div class="col-md-3">

                            <label for="exampleCity"> টাকা (রিজেক্ট আইটেম):</label>
                            <input type="text" class="form-control" id="txtRejectAmount">

                        </div>



                    </div>

                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">নোট :</label>
                            <div class="col-sm-10">
                                <input type="text" autocomplete="off" class="form-control" id="txtNote">
                            </div>



                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <span id="spInfo">

                                </span>
                            </div>
                        </div>


</form>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="main-card mb-3 card">
            <div class="card-body">

                <input type="button" data-adjustmentID="0" value="Save" class="btn btn-block btn-info" id="btnSaveCust" />

                <input type="button" value="Add New" class="btn btn-block btn-danger" id="btnAddNewCust" />





            </div>
        </div>

    </div>
</div>

<div class="row" id="showDiv">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table style="width: 100%;" id="dataTable" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>সি নং</th>

                            <th>ইনভয়েস নং</th>
                            <th>তারিখ</th>
                            <th>গ্রহনকারীর</th>

                            <th>টাকা(এড)</th>
                            <th>টাকা(শর্ট)</th>
                            <th>টাকা(রিজেক্ট)</th>
                            <th>নোট</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    var days = ['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'];
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

    var CUST_LIST = [];
    var SUPP_LIST = [];
    var SUPP_SUBCAT_LIST = [];
    var CUST_SUBCAT_LIST = [];

    var tableCust;
    $(document).ready(function () {
        var specialChars = [
            '০',
            '১',
            '২',
            '৩',
            '৪',
            '৫',
            '৬',
            '৭',
            '৮',
            '৯',
            '0',
            '1',
            '2',
            '3',
            '4',
            '5',
            '6',
            '7',
            '8',
            '9',
            '.',
            '.',
            '-',
            '-'
        ];
        var BeagaliToEnglish = {
            '০': '0',
            '১': '1',
            '২': '2',
            '৩': '3',
            '৪': '4',
            '৫': '5',
            '৬': '6',
            '৭': '7',
            '৮': '8',
            '৯': '9',
            '0': '0',
            '1': '1',
            '2': '2',
            '3': '3',
            '4': '4',
            '5': '5',
            '6': '6',
            '7': '7',
            '8': '8',
            '9': '9',
            '.': '.',
            '.': '.',

            '-': '-',
            '-': '-'

        }

        var EnglisgToBengali = {
            '০': '০',
            '১': '১',
            '২': '২',
            '৩': '৩',
            '৪': '৪',
            '৫': '৫',
            '৬': '৬',
            '৭': '৭',
            '৮': '৮',
            '৯': '9',
            '0': '০',
            '1': '১',
            '2': '২',
            '3': '৩',
            '4': '৪',
            '5': '৫',
            '6': '৬',
            '7': '৭',
            '8': '৮',
            '9': '৯',
            '.': '.',
            '.': '.',
            '-': '-',
            '-': '-'

        }


        function ConvertBanglaToEnglish(_str) {
            var res = '';

            if (_str == '') return '';

            var _arr = _str.split('');
            for (var i = 0; i < _arr.length; i++) {
                res += BeagaliToEnglish[_arr[i]];
            }
            return res;
        }

        function ConvertEnglishToBengali(_str) {
            var _res = '';

            if (_str == '') return '';

            var _arr = _str.split('');
            for (var i = 0; i < _arr.length; i++) {
                _res += EnglisgToBengali[_arr[i]];
            }
            return _res;
        }

        var date = new Date();
        var today = date.getDate() + '-' + months[date.getMonth()] + '-' + date.getFullYear();


        function currentTime() {
            let date = new Date();
            let hh = date.getHours();
            let mm = date.getMinutes();
            let ss = date.getSeconds();
            let session = "AM";

            if (hh === 0) {
                hh = 12;
            }
            if (hh > 12) {
                hh = hh - 12;
                session = "PM";
            }

            hh = (hh < 10) ? "0" + hh : hh;
            mm = (mm < 10) ? "0" + mm : mm;
            ss = (ss < 10) ? "0" + ss : ss;

            let time = hh + ":" + mm + ":" + ss + " " + session;

            //document.getElementById("clock").innerText = time;

            $("#txtDateTime").val(time)
            let t = setTimeout(function () { currentTime() }, 1000);
        }

        currentTime();



        tableCust = $('#dataTable').DataTable({
            data: [],
            "columnDefs": [

                {
                    "searchable": true,
                    "orderable": false,
                    "targets": 0
                }
            ],
            "language":
            {
                "processing": '<div class="font-icon-wrapper float-left mr-3 mb-3" style="margin-left: 9%;">' +
                    '<div class="loader-wrapper d-flex justify-content-center align-items-center">' +
                    '<div class="loader">' +
                    '<div class="line-scale-pulse-out-rapid">' +
                    '<div></div>' +
                    '<div></div>' +
                    '<div></div>' +
                    '<div></div>' +
                    '<div></div>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<p>Loading</p></div>'
            },
            //"responsive": true,
            "processing": true,
            //"serverSide": true,
            "lengthMenu": [
                [10, 15, 25, 50, 100, -1],
                [10, 15, 25, 50, 100, "All"]
            ],

            "order": [0, "desc"],
            "start": 0,
            "length": 10,
            "bFilter": true,

            "columns": [
                { "data": "invoicNoSL" },

                { "data": "generatedInvoicNo" },
                { "data": "paymentDateDateFormated" },

                {
                    "data": null,
                    render: function (data, type, row) {
                        return data.supplier == null ? '( Cust) ' + data.customer.shopName : '( Supp) ' + data.supplier.name;
                    }
                },

            
                { "data": "amount" },
                { "data": "closingShortAmount" },
                { "data": "rejectGoodsAmount" },
                { "data": "note" },


                {
                    "data": null,
                    "mRender": function (data, type, full) {
                        return '<button class="mb-2 mr-2 btn-icon btn-shadow btn-dashed btn btn-outline-info" onclick="editCustomer(\'' + data.adjustmentID + '\')">Edit</button>';
                    }
                },
                {
                    "data": null,
                    "mRender": function (data, type, full) {
                        return '<button class="mb-2 mr-2 btn-icon btn-shadow btn-dashed btn btn-outline-danger" onclick="deleteCustomer(\'' + data.adjustmentID + '\')">Delete</button>';
                    }
                }
            ]
        });




        $("#txtDateEntrySearch").datepicker({
            autoclose: true,
        }).on('changeDate', function (e) {
            ChangeDt("#txtDateEntrySearch");
        });

        $("#txtDate").datepicker({
            autoclose: true,
        }).on('changeDate', function (e) {
            ChangeDt("#txtDate");
        });

        $("#txtDate").datepicker({
            autoclose: true,
        });
        $("#txtDateEntrySearch").val(today);
        $("#txtDate").val(today);
        LoadDefaultData();

        function ChangeDt(caller) {

            console.log(caller);
            let _thisVal2 = $(caller).val();

            if (_thisVal2.indexOf('-') > 0) {

                let _existValue = _thisVal2.split('-');
                console.log(_existValue);
                $(caller).val(_existValue[0] + '-' + months[_existValue[1] - 1] + '-' + _existValue[2]);

            }
        };

        function LoadDefaultData() {
            //ClearControl();
            $("#spInfo").html('<strong style="color:blue">Loading Data Please wait.. !</strong>');
            $.ajax({
                type: "POST",
                url: WEB_URL + "Adjustment/GetAdjustmentEntryViewModel",

                // data: JSON.stringify(receiveMain),
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    // HideGateOverlay();
                    $("#spInfo").html('');
                    console.log(data);

                    SUPP_LIST = data.suppliers;
                    CUST_LIST = data.customers;
                    SUPP_SUBCAT_LIST = data.supplierSubCategorys;
                    CUST_SUBCAT_LIST = data.customerSubCategorys;
              

                    tableCust.rows.add(data.adjustments).draw();

                },
                error: function (a, b, c) {
                    //  HideGateOverlay();
                    alert(a, c);
                }
            });
        }


        $('#selCustSuppType').on('change', function () {
            $("#dltxtCustSuppSubCat option").remove();

            $("#txtCustSuppSubCat").val('');

            $("#dltxtCustName option").remove();
            $("#txtCustomer").val('');
            let _val = this.value;

            LoadNames(_val);

        });

        function LoadNames(_val) {

            if (_val == "Customer") {
                BindCustomersSubCat();
                // LoadCustomers();
            }
            else if (_val == "Supplier") {
                // LoadSuppliers();
                BindSuppliersSubCat();
            }

        }



        function BindCustomersSubCat() {
            $("#dltxtCustSuppSubCat option").remove();
            $.each(CUST_SUBCAT_LIST, function (i, prodData) {
                $("#dltxtCustSuppSubCat").append(' <option  data-custsubcatid="' + prodData.customerSubCategoryID + '" value="' + prodData.customerSubCategoryName + '" />');

            });
        }


        function BindSuppliersSubCat() {
            $("#dltxtCustSuppSubCat option").remove();
            $.each(SUPP_SUBCAT_LIST, function (i, prodData) {
                $("#dltxtCustSuppSubCat").append(' <option  data-suppsubcatid="' + prodData.supplierSubCategoryID + '" value="' + prodData.supplierSubCategoryName + '" />');

            });
        }



        // GetSubCatID(value, dataList, attrName) {


        $("#txtCustSuppSubCat").on('input', function () {

            $("#txtRevBalance").val('');
            $("#dltxtCustName option").remove();
            $("#txtCustomer").val('');

            let _subCatName = $("#txtCustSuppSubCat").val();

            var _suppsubCatid = GetSubCatID(_subCatName, "#dltxtCustSuppSubCat", 'data-suppsubcatid');
            var _custsubCatid = GetSubCatID(_subCatName, "#dltxtCustSuppSubCat", 'data-custsubcatid');

            if (_suppsubCatid != '0') {
                BindSuppName(_suppsubCatid);
            }
            else if (_custsubCatid != '0') {
                BindCustName(_custsubCatid)
            }
            else {
                $("#dltxtCustName option").remove();
            }


        });


        $("#btnSaveCust").click(function () {
            $("#spInfo").html('');

            let _adjustmentID = $(this).attr('data-adjustmentID');
         
            let _receivedate = $("#txtDate").val();
            let _payName2 = $("#txtMedium").val();
        
            let _custName = $("#txtCustomer").val();



            var _cstID = GetSubCatID(_custName, "#dltxtCustName", 'data-custID');
            var _suppID = GetSubCatID(_custName, "#dltxtCustName", 'data-suppID');




            let _amount = ConvertBanglaToEnglish($("#txtAmount").val());
            let _shortAmount = ConvertBanglaToEnglish($("#txtCLosingShortAmount").val());
            let _rejAmount = ConvertBanglaToEnglish($("#txtRejectAmount").val());

            let _note1 = $("#txtNote").val();


   

            if ((_cstID == null || _cstID == undefined || _cstID == '0') && (_suppID == null || _suppID == undefined || _suppID == '0')) {


                $("#spInfo").html('<strong style="color:red">Invalid Customer/Supplier !</strong>');

                $("#txtCustName").focus();
                return;

            }





            let _cust = {};

            let _supp = {};

            if (_cstID != "0") {

                _cust = {
                    "CustomerID": parseInt(_cstID)
                };

            }
            else if (_suppID != "0") {
                _supp = {
                    "SupplierId": parseInt(_suppID)
                };


            }


            if (_amount == '') {
                _amount = '0';
            }
            if (_shortAmount == '') {
                _shortAmount = '0';
            }
            if (_rejAmount == '') {
                _rejAmount = '0';
            }


 


            var adjustment = {
                "AdjustmentID": _adjustmentID,
                "PaymentDate": _receivedate,
                "Supplier": _supp,
                "Customer": _cust,
         

                "Note": _note1,
                "Amount": parseFloat(_amount),
                "ClosingShortAmount": parseFloat(_shortAmount),
                "RejectGoodsAmount": parseFloat(_rejAmount)
            }

            // console.log(cashReceive);




            $("#spInfo").html('<strong style="color:blue">Savng Data Please wait.. !</strong>');



            $.ajax({
                type: "POST",
                url: WEB_URL + "Adjustment/SaveAdjustment",

                data: JSON.stringify(adjustment),
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    console.log(data);
                    if (parseInt(data.resultID) > 0) {
                        $("#txtInvoiceNo").val(data.resultNo);
                        $("#spInfo").html('<strong style="color:blue">' + data.resultMessage + '</strong>');
                        ClearControlAfterSave();
                        tableCust.clear().draw();
                        tableCust.rows.add(data.obj).draw();

                    }
                    else {
                        // HideGateOverlay();
                        $("#spInfo").html('<strong style="color:red">' + data.resultMessage + '</strong>');
                    }


                },
                error: function (a, b, c) {
                    //  HideGateOverlay();
                    alert(a, c);
                }
            });




        });





        $("#txtCustomer").on('input', function () {

            $("#txtPrevDue").val('');

            let _custName = $("#txtCustomer").val();

            if (_custName == '') {
                return;
            }


            var _cstID = GetSubCatID(_custName, "#dltxtCustName", 'data-custID');
            var _suppID = GetSubCatID(_custName, "#dltxtCustName", 'data-suppID');





            if ((_cstID == null || _cstID == undefined || _cstID == '0') && (_suppID == null || _suppID == undefined || _suppID == '0')) {
                return;
            }

            let _cust = {};

            let _supp = {};
            let _url = "";
            let _obj = {}
            if (_cstID != "0") {

                _cust = {
                    "CustomerID": parseInt(_cstID)
                };
                _url = WEB_URL + "Customer/GetCustomerCurrentBalalce";
                _obj = _cust;
            }
            else if (_suppID != "0") {
                _supp = {
                    "SupplierId": parseInt(_suppID)
                };

                _url = WEB_URL + "Supplier/GetSupplierCurrentBalalce";
                _obj = _supp;
            }

            $("#spInfo").html('<strong style="color:blue">Loading Data Please wait.. !</strong>');



            $.ajax({
                type: "POST",
                data: JSON.stringify(_obj),
                url: _url,
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    // HideGateOverlay();

                    console.log(data);
                    $("#txtPrevDue").val(data.currentBalance);

                    $("#spInfo").html('');

                    // BindSuppliers(data);


                },
                error: function (a, b, c) {
                    //  HideGateOverlay();
                    alert(a, c);
                }
            });




        });




        function ClearControlAfterSave() {

            $("#txtCustomer").val('');
            $("#txtPrevDue").val('0');
            $("#txtAmount").val('0');
            $("#txtCLosingShortAmount").val('0');
            $("#txtRejectAmount").val('0');
            $("#txtNote").val('');
            $("#btnSaveCust").removeAttr('disabled');
            $("#btnSaveCust").val('Save');
            $("#btnSaveCust").attr('data-adjustmentID', '0');

        }



        function GetDataValue(value, dataList) {
            var z = $(dataList);
            var val = $(z).find('option[data-id="' + value + '"]');
            var endval = val.attr('value');
            return endval;
        }
        function GetDataID(value, dataList) {
            var z = $(dataList);
            var val = $(z).find('option[value="' + value + '"]');
            var endval = val.attr('data-id');
            return endval;
        }

        function GetSubCatID(value, dataList, attrName) {
            var z = $(dataList);
            var val = $(z).find('option[value="' + value + '"]');
            var endval = val.attr(attrName);
            return endval == undefined ? 0 : endval;
        }

    });




    function editCustomer(id) {
        // ClearControl();

        var cashPayment = {
            "adjustmentID": id
        }
        // alert(id);
        $("#spInfo").html('<strong style="color:blue">Loading Data Please wait.. !</strong>');
        $.ajax({
            type: "POST",
            url: WEB_URL + "Adjustment/GetAdjustment",

            data: JSON.stringify(cashPayment),
            dataType: "JSON",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                console.log(data);
                if (parseInt(data.resultID) == -1) {
                    $("#spInfo").html('<strong style="color:red">' + data.resultMessage + '</strong>');
                }
                else {
                    $("#spInfo").html(data.resultMessage);
                    $("#btnSaveCust").val('Update');
                    $("#btnSaveCust").attr('data-adjustmentID', data.obj.adjustmentID);

                    $("#txtDate").val(data.obj.paymentDateDateFormated);

                    if (data.obj.supplier != null) {
                        $("#txtCustomer").val(data.obj.supplier.name);
                        BindSuppName(data.obj.supplier.supplierSubCategoryID);

                    }

                    else if (data.obj.customer != null) {
                        $("#txtCustomer").val(data.obj.customer.shopName);
                        BindCustName(data.obj.customer.customerSubCategoryID);

                    }
                    $("#txtAmount").val(data.obj.amount);
                    $("#txtCLosingShortAmount").val(data.obj.closingShortAmount);

                    $("#txtRejectAmount").val(data.obj.rejectGoodsAmount);
                    $("#txtNote").val(data.obj.note);
                }



            },
            error: function (a, b, c) {
                //  HideGateOverlay();
                alert(a, c);
            }
        });



    }

    function deleteCustomer(id) {

        // ClearControl();

        if (confirm('Are you sure to delete Customer?')) {
            // Save it!
            console.log('Thing was saved to the database.');
        }
        else {
            return;
        }




        var cashPayment = {
            "adjustmentID": id
        }

        //alert(id);
        $("#spInfo").html('<strong style="color:blue"> Please wait.. !</strong>');
        $.ajax({
            type: "POST",
            url: WEB_URL + "Adjustment/DeleteAdjustment",

            data: JSON.stringify(cashPayment),
            dataType: "JSON",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                console.log(data);



                if (parseInt(data.resultID) == -1) {
                    $("#spInfo").html('<strong style="color:red">' + data.resultMessage + '</strong>');

                }
                else {
                    //ClearControl();
                    $("#spInfo").html('<strong style="color:green">' + data.resultMessage + '</strong>');


                    //ClearControlAfterSave();
                    tableCust.clear().draw();
                    tableCust.rows.add(data.obj).draw();

                }





                $("#spInfo").html('');

            },
            error: function (a, b, c) {
                //  HideGateOverlay();
                alert(a, c);
            }
        });

    }


    function BindCustName(_id) {
        $("#dltxtCustName option").remove();


        var filterednames = CUST_LIST.filter(function (obj) {
            return (obj.customerSubCategoryID == _id);
        });


        console.log(CUST_LIST);
        $.each(filterednames, function (i, prodData) {

            $("#dltxtCustName").append(' <option  data-custID="' + prodData.customerID + '" value="' + prodData.shopName + '" />');


        });

    }



    function BindSuppName(_id) {
        $("#dltxtCustName option").remove();



        var filteredSuppnames = SUPP_LIST.filter(function (obj) {
            return (obj.supplierSubCategoryID == _id);
        });
        console.log(SUPP_LIST);
        $.each(filteredSuppnames, function (i, prodData) {

            $("#dltxtCustName").append(' <option  data-suppID="' + prodData.supplierId + '" value="' + prodData.name + '" />');


        });

    }

</script>


