
@{
    ViewData["Title"] = "AdjustReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section HeadingText {
    <div class="page-title-heading text-dark text-center">
        .:: Adjust Report ::.
    </div>

}

<style type="text/css" media="print">
    @@page {
        size: auto; /* auto is the initial value */
        margin: 2mm 4mm 2mm 2mm; /* this affects the margin in the printer settings */
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <input type="button" class="btn btn-outline-primary" value="Print/PDF"
               id="btPrint" onclick="createPDF()" />
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-12">
        <span id="spInfo">

        </span>
    </div>
</div>


<div class="row" id="tab">
    <div class="col-sm-12">
        <style>
            .CSSTableGenerator {
                margin: 0px;
                padding: 0px;
                width: 100%;
                border: thin solid #000000;
            }

                .CSSTableGenerator table {
                    border-collapse: collapse;
                    border-spacing: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0px;
                    padding: 0px;
                }


                .CSSTableGenerator tr:nth-child(odd) {
                }

                .CSSTableGenerator tr:nth-child(even) {
                }

                .CSSTableGenerator td {
                    vertical-align: middle;
                    border: thin solid #000000;
                    border-width: 0px thin thin 0px;
                    text-align: left;
                    padding: 2px;
                    font-size: .8em;
                    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
                    font-weight: normal;
                }

                .CSSTableGenerator tr:last-child td {
                    border-width: 0px thin 0px 0px;
                }

                .CSSTableGenerator tr td:last-child {
                    border-width: 0px 0px thin 0px;
                }

                .CSSTableGenerator tr:last-child td:last-child {
                    border-width: 0px 0px 0px 0px;
                }

                .CSSTableGenerator tr:first-child td {
                    border: 0px solid #000000;
                    text-align: center;
                    border-width: 0px 0px thin thin;
                    font-size: 0.8em;
                    font-family: Arial;
                    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
                    color: black;
                }

                    .CSSTableGenerator tr:first-child td:first-child {
                        border-width: 0px 0px thin 0px;
                    }

                    .CSSTableGenerator tr:first-child td:last-child {
                        border-width: 0px 0px thin thin;
                    }

            .CSSTableGenerator2 {
                margin: 0px;
                padding: 0px;
                width: 100%;
            }

                .CSSTableGenerator2 tr:nth-child(odd) {
                    text-align: center;
                }

                .CSSTableGenerator2 tr:nth-child(even) {
                    text-align: center;
                }


            .tdClass {
                color: #666;
                font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
                font-weight: bold;
                text-align: left;
            }
        </style>
        @*<div class="tdClass"><span>Receive Challan No :</span>@Model.ReceiveMain.REceiveNo </div>*@

        <div class="col-sm-12" style="text-align:center">

            <p style=" font-family: Trebuchet MS,Arial,Helvetica,sans-serif;">
                <strong>   @TempData["CompanyName"].ToString();</strong><br />
                @TempData["CompanyAddress"].ToString();<br>
                <span id="spTitle"></span><br />
                <span id="spFilter"></span>
            </p>

        </div>
    </div>


    <table id="tblOrder" class="CSSTableGenerator" style="margin:auto 5px auto 5px;">


    </table>


</div>

<script type="text/javascript">
    var days = ['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'];
    var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

    var ReportType = "Adjust-report";
    $(document).ready(function () {

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            console.log(vars);

         
            return vars;
        }

        var queryStrings = getUrlVars();

        LoadData();

        function LoadData() {
            $("#spInfo").html('');

            var model = {
                "FromDate": queryStrings["fromDate"],
                "ToDate": queryStrings["toDate"],
                "CustomerIds": queryStrings["customerIDs"],
                "IsDetails": queryStrings["IsDetails"],
                "Type": queryStrings["type"],
                "ArticleNames": queryStrings["_custType"],
            }

            $("#spInfo").html('<strong style="color:blue">Loading Data Please wait.. !</strong>');
            $.ajax({
                type: "POST",
                url: WEB_URL + "Adjustment/GetAdjustReport",

                data: JSON.stringify(model),
                dataType: "JSON",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    console.log(data.obj);
                    $("#spInfo").html('');
                    $("#spTitle").text(data.resultNo);

              

                    if (queryStrings["_custType"] == "All") {

                        BindDataAll(data.obj);

                        $("#spFilter").text('All Customer/Supplier ');
                    }
                    else if (queryStrings["_custType"] == "CUST") {
                        BindDataCust(data.obj);
                        $("#spFilter").text('Filter by Customer ');

                    }

                    else if (queryStrings["_custType"] == "SUPP") {
                        BindDataSupp(data.obj);
                        $("#spFilter").text('Filter by Supplier ');

                    }
                },
                error: function (a, b, c) {
                    //  HideGateOverlay();
                    alert(a, c);
                }
            });

        }


        function BindDataAll(_obj) {


            $("#tblOrder").append(' <tr><td>SL</td><td>Date</td><td>Invoice No</td><td>Cust/Shop Name</td><td>Suplier Name</td><td>Recv Amount</td><td>Pay Amount</td><td>Short Amount</td><td>Reject Goods Amount</td></tr>');

            var _totalRecvAmount = 0;
            var _totalPayAmount = 0;

            var _totalShortAmount = 0;
            var _totalRejectAmount = 0;


            $.each(_obj, function (i, prodData) {

                let recvAmount = 0;
                let payAmount = 0;

                if (prodData.customer == null) {

                    if (prodData.amount >= 0) {
                        recvAmount = prodData.amount;
                    }
                    else {
                        payAmount = prodData.amount*(-1);
                    }

                }
                else if (prodData.supplier == null) {

                    if (prodData.amount >= 0) {
                        payAmount = prodData.amount;
                    }
                    else {
                        recvAmount = prodData.amount*(-1);
                    }

                }

                else {
                    recvAmount = prodData.amount;
                    payAmount = prodData.amount;
                }


                _totalRecvAmount += recvAmount;
                _totalPayAmount += payAmount;

                _totalShortAmount += prodData.closingShortAmount;
                _totalRejectAmount += prodData.rejectGoodsAmount;



                $("#tblOrder").append('<tr><td>' + (i + 1) + '</td><td>' + prodData.paymentDateDateFormated + '</td><td>' + prodData.generatedInvoicNo + '</td><td>' + (prodData.customer == null ? '' : prodData.customer.shopName) + '</td><td>' + (prodData.supplier == null ? '' : prodData.supplier.name) + '</td><td style="text-align:right;">' + recvAmount.toFixed(2) + '</td><td style="text-align:right;">' + payAmount.toFixed(2) + '</td><td style="text-align:right;">' + prodData.closingShortAmount.toFixed(2) + '</td><td style="text-align:right;">' + prodData.rejectGoodsAmount.toFixed(2) + '</td></tr>');


            });


            $("#tblOrder").append('<tr><td colspan="5">ToTal :</td><td style="text-align:right;">' + _totalRecvAmount.toFixed(2) + '</td><td style="text-align:right;">' + _totalPayAmount.toFixed(2) + '</td><td style="text-align:right;">' + _totalShortAmount.toFixed(2) + '</td><td style="text-align:right;">' + _totalRejectAmount.toFixed(2) + '</td></tr>');

        }



        function BindDataCust(_obj) {
            $("#tblOrder").append(' <tr><td>SL</td><td>Date</td><td>Invoice No</td><td>Cust/Shop Name</td><td>Recv Amount</td><td>Pay Amount</td><td>Short Amount</td><td>Reject Amount</td></tr>');


            var _totalRecvAmount = 0;
            var _totalPayAmount = 0;

            var _totalShortAmount = 0;
            var _totalRejectAmount = 0;
            $.each(_obj, function (i, prodData) {


                let recvAmount = 0;
                let payAmount = 0;

                if (prodData.customer == null) {

                    if (prodData.amount >= 0) {
                        recvAmount = prodData.amount;
                    }
                    else {
                        payAmount = prodData.amount * (-1);
                    }

                }
                else if (prodData.supplier == null) {

                    if (prodData.amount >= 0) {
                        payAmount = prodData.amount;
                    }
                    else {
                        recvAmount = prodData.amount * (-1);
                    }

                }

                else {
                    recvAmount = prodData.amount;
                    payAmount = prodData.amount;
                }


                _totalRecvAmount += recvAmount;
                _totalPayAmount += payAmount;

                _totalShortAmount += prodData.closingShortAmount;
                _totalRejectAmount += prodData.rejectGoodsAmount;
                $("#tblOrder").append('<tr><td>' + (i + 1) + '</td><td>' + prodData.paymentDateDateFormated + '</td><td>' + prodData.generatedInvoicNo + '</td><td>' + (prodData.customer == null ? '' : prodData.customer.shopName) + '</td><td style="text-align:right;">' + recvAmount.toFixed(2) + '</td><td style="text-align:right;">' + payAmount.toFixed(2) + '</td><td style="text-align:right;">' + prodData.closingShortAmount.toFixed(2) + '</td><td style="text-align:right;">' + prodData.rejectGoodsAmount.toFixed(2) + '</td></tr>');

            });

            $("#tblOrder").append('<tr><td colspan="4">ToTal :</td><td style="text-align:right;">' + _totalRecvAmount.toFixed(2) + '</td><td style="text-align:right;">' + _totalPayAmount.toFixed(2) + '</td><td style="text-align:right;">' + _totalShortAmount.toFixed(2) + '</td><td style="text-align:right;">' + _totalRejectAmount.toFixed(2) + '</td></tr>');


        }


        function BindDataSupp(_obj) {


            $("#tblOrder").append(' <tr><td>SL</td><td>Date</td><td>Invoice No</td><td>Suplier Name</td><td>Recv Amount</td><td>Pay Amount</td><td>Short Amount</td><td>Reject Amount</td></tr>');

            var _totalRecvAmount = 0;
            var _totalPayAmount = 0;
            var _totalShortAmount = 0;
            var _totalRejectAmount = 0;
            $.each(_obj, function (i, prodData) {



                let recvAmount = 0;
                let payAmount = 0;

                if (prodData.customer == null) {

                    if (prodData.amount >= 0) {
                        recvAmount = prodData.amount;
                    }
                    else {
                        payAmount = prodData.amount * (-1);
                    }

                }
                else if (prodData.supplier == null) {

                    if (prodData.amount >= 0) {
                        payAmount = prodData.amount;
                    }
                    else {
                        recvAmount = prodData.amount * (-1);
                    }

                }

                else {
                    recvAmount = prodData.amount;
                    payAmount = prodData.amount;
                }


                _totalRecvAmount += recvAmount;
                _totalPayAmount += payAmount;

                _totalShortAmount += prodData.closingShortAmount;
                _totalRejectAmount += prodData.rejectGoodsAmount;

                $("#tblOrder").append('<tr><td>' + (i + 1) + '</td><td>' + prodData.paymentDateDateFormated + '</td><td>' + prodData.generatedInvoicNo + '</td><td>' + (prodData.supplier == null ? '' : prodData.supplier.name) + '</td><td style="text-align:right;">' + recvAmount.toFixed(2) + '</td><td style="text-align:right;">' + payAmount.toFixed(2) + '</td><td style="text-align:right;">' + prodData.closingShortAmount.toFixed(2) + '</td><td style="text-align:right;">' + prodData.rejectGoodsAmount.toFixed(2) + '</td></tr>');


            });


            $("#tblOrder").append('<tr><td colspan="4">ToTal :</td><td style="text-align:right;">' + _totalRecvAmount.toFixed(2) + '</td><td style="text-align:right;">' + _totalPayAmount.toFixed(2) + '</td><td style="text-align:right;">' + _totalShortAmount.toFixed(2) + '</td><td style="text-align:right;">' + _totalRejectAmount.toFixed(2) + '</td></tr>');

        }
    });



    function createPDF() {
        var sTable = document.getElementById('tab').innerHTML;

        var style = "<style>";
        //style = style + "table {width: 100%;font: 17px Calibri;}";
        //  style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "table, th, td {padding: 2px 3px;border-collapse: collapse;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=595,width=842');

        win.document.write('<html><head>');
        win.document.write('<title>' + ReportType + '</title>');   // <title> FOR PDF HEADER.
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }
</script>