
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="/assets2/styles/main.07a59de7b920cd76b874.css" rel="stylesheet" />
    <script src="/assets2/scripts/main.07a59de7b920cd76b874.js"></script>
</head>
<body>

    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">
                    <div class="d-none d-lg-block col-lg-4">
                        <div class="slider-light">
                            <div class="slick-slider">

                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                            <div class="app-logo"></div>
                            <h4 class="mb-0">
                                <span class="d-block">Thank You</span>

                            </h4>

                            <div class="divider row"></div>
                            <div>

                                <div class="form-row">
                                    <div class="col-md-12">
                                        <p>
                                            <h1> Successfully Logged Out !!</h1>
                                        </p>
                                    </div>

                                </div>

                                <div class="divider row"></div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>